<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/partial/rails_default' %>
    <%= render 'layouts/partial/shim' %>
  </head>
  <body>
    <%= render 'layouts/partial/header' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/partial/footer' %>
  </body>
</html>